body {
    background-color: lightblue;
    margin: 0;
}

#containter {
    margin: auto;
    width: 1366px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

#header {
    color: white;
    background-color: navy;
    text-align: center;
    font-size: 50px;
}

#main {
    color: black;
    background-color: yellow;
    flex: 7;
}

#footer  {
    color: white;
    background-color: navy;
    text-align: end;
}

#content {
    flex:1;
    display: flex;
    background-color:aqua;
    color:black;
}

.sidebar {
    flex:3;
    background-color: cornflowerblue;
}

#nav {
    background-color: darkgoldenrod;
}